* {
    box-sizing: border-box;
}

:root {
    --margin-01: 8px;
    --margin-h: calc(var(--margin-01)* 0.5);
    --margin-hh: calc(var(--margin-01)* 0.25);
    --margin-02: calc(var(--margin-01)* 2);
    --margin-03: calc(var(--margin-01)* 3);
    --margin-04: calc(var(--margin-01)* 4);
    --margin-05: calc(var(--margin-01)* 5);
    --margin-06: calc(var(--margin-01)* 6);
    --margin-07: calc(var(--margin-01)* 7);
    --margin-08: calc(var(--margin-01)* 8);
    --margin-09: calc(var(--margin-01)* 9);
    --margin-10: calc(var(--margin-01)* 10);

    --bg: #e8ffe9;
    --bg02: #f6fffd;
    --fg: #4EE0D6;
    --fg02: #00CED2;
}

body {
    display: flex;
    flex-flow: column;
    height: 100vh;
    background-color: var(--bg);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%2300ced2' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    margin: 0;
    padding: 0;
    font-family: 'Quicksand' ,'MuseoModerno', 'Open Sans Condensed', sans-serif;
}

h1 {
    font-size: var(--margin-04);
}

.wrapper {
    width: 100%;
}

#header {
    background-color: var(--fg02);
    padding: .5em;
}

#main {

    flex-grow: 1;
}

#main .wrapper {
    margin-top: var(--margin-05);
    display: flex;
    flex-flow: column;
}

.lesson {
    margin: var(--margin-03);
    background-color: var(--bg);
    border-radius: 8px;
}

.title {
    background-color: var(--bg);
    border: solid 2px var(--fg);
    border-radius: 8px;
    padding: var(--margin-02);
    margin: 0;
}

.title:hover {
    background-color: var(--fg);
    transition: ease .2s;
}


.text {
    margin: var(--margin-03);
    text-align: justify;
}

#footer {
    background-color: var(--fg);
    padding: 1em;
}

#header ,
#footer {
    text-align: center;
}